<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
>
    <php>
        <!-- Your existing php configuration -->

        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
        <server name="SYMFONY_PHPUNIT_VERSION" value="9.5" />

        <env name="KERNEL_CLASS" value="\App\Kernel"/> <!-- Add this line -->
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <!-- Uncomment the coverage element if you want to enable code coverage -->
    <!--
    <filter>
        <whitelist>
            <directory>src/</directory>
        </whitelist>
    </filter>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </coverage>
    -->

    <!-- Uncomment the listeners element if you need to add custom listeners -->
    <!--
    <listeners>
        <listener class="Your\Custom\Listener\Class" />
    </listeners>
    -->

    <!-- You can optionally add extensions here if needed -->
</phpunit>
